body{
	background: #1c1c1c
}

.titulo{
	text-align: center;
	color: #dcdcdc
}

#viniator{
	position: absolute;
	top: 700px;
	right: 0px;
	bottom: 0px;
	left: 600px;
	height: 500px;
	width: 50%;
	margin: auto;

}

h1{
	font-size: 100px;
	text-align: center;
	color: #dcdcdc;
	border: 3px solid #dcdcdc;
	padding: 5px;
	margin: 10px;
	border-right: 0px;
	border-left: 0px;
}

h2{
	color: #dcdcdc;
	border-top: 3px solid #dcdcdc;
	padding-top: 10px;
}

.texto{
	font-size: 20px;
	text-align: center;
	color: #dcdcdc
}

#antes{
	font-size: 20px
}

em strong{
	color: #008B8B
}

em {
	color: #7B68EE;
}

.dados{
	font-size: 20px;
	font-style: italic;
	color: #dcdcdc;
}
